/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
header{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: black;
    color: rgb(42, 171, 226);
    width: 100%;
    height: 10vh;
}
.learn{
    position: relative;
    left: 20px;
}
nav{
    color: white;
    position: absolute;
    right: 20px;
}
.tag{
    padding-left: 75px;
}
.right{
    display: flex;
    flex-direction: column;
    float: right;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:0 0 20px rgba(102, 75, 75, .3);
    height: auto;
    width: 300px;
    margin: 30px 150px 0 150px;
}
.list{
    margin: 10px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:35px 0 15px 150px ;
}
p{
    margin-top: 25px;
}
div{
    display: flex;
    justify-content: flex-end;
}
.link{
    text-decoration: none;
    color: rgb(42, 171, 226);
}
.picture{
    height: 150px;
    width: auto;
    margin: 20px
}
footer{
    display: flex;
    align-items: center;
    background-color:  rgb(42, 171, 226);
    width: 100%;
    height: 6vh;
    font-size: 10px;
}
.questions{
    font-size: large;
    position: fixed;
    right: 0px;
    bottom: 5px;
    right: 5px;
    border: solid 3px black;
    background-color:  rgb(42, 171, 226);
    border-radius: 50%;
    height: 35px;
    width: 35px;
}